<h1>PySpark install and intro</h1>

In [4]:
import pyspark

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (from pyspark) (0.10.9.2)

In [1]:
import pyspark

In [2]:
import pandas as pd
df = pd.read_csv('test1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        3 non-null      object
 1   Age         3 non-null      int64
 2   Experience  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise').getOrCreate()

In [4]:
spark

In [5]:
df = spark.read.csv('test1.csv')
df

DataFrame[_c0: string, _c1: string, _c2: string]

In [6]:
df = spark.read.option('header', 'true').csv('test1.csv')
df

DataFrame[Name: string, Age: string, Experience: string]

In [8]:
df.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|   Naveen| 24|        10|
|  Bhargav| 22|        10|
|Chennamma| 46|        20|
+---------+---+----------+

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

In [10]:
df.head(3)

[Row(Name='Naveen', Age='24', Experience='10'),
 Row(Name='Bhargav', Age='22', Experience='10'),
 Row(Name='Chennamma', Age='46', Experience='20')]

In [11]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [12]:
spark.stop()

<h1>PySpark Dataframes</h1>

In [50]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [51]:
spark

In [52]:
df = spark.read.option('header', 'true').csv('test1.csv')
df.printSchema()
df.head(3)

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

[Row(Name='Krish', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000'),
 Row(Name='Sunny', age='29', Experience='4', Salary='20000')]

In [53]:
df = spark.read.csv('test1.csv', header = True, inferSchema=True)
df.printSchema()
df.head(3)

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000)]

In [54]:
type(df)

pyspark.sql.dataframe.DataFrame

In [55]:
df.columns

['Name', 'age', 'Experience', 'Salary']

In [56]:
print(df)

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [57]:
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [58]:
df.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [59]:
df.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [60]:
df.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [61]:
#add a column
df = df.withColumn('Experience after 2 years', df['Experience']+2)
df.show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|Experience after 2 years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      12|
|Sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 20000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

In [62]:
#delete a column
df = df.drop('Experience after 2 years')
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [63]:
#rename column
df = df.withColumnRenamed('Name', 'New Name')
df.show()

+---------+---+----------+------+
| New Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [64]:
df = df.withColumn('Salary', df['Experience']*10).withColumn('Bonus', df['Experience']*10/2)
df.show()

+---------+---+----------+------+-----+
| New Name|age|Experience|Salary|Bonus|
+---------+---+----------+------+-----+
|    Krish| 31|        10|   100| 50.0|
|Sudhanshu| 30|         8|    80| 40.0|
|    Sunny| 29|         4|    40| 20.0|
|     Paul| 24|         3|    30| 15.0|
|   Harsha| 21|         1|    10|  5.0|
|  Shubham| 23|         2|    20| 10.0|
+---------+---+----------+------+-----+

In [65]:
df = df.select('*', (df.Experience*100).alias('Col1'), (df['New Name']).alias('Full Name' ))
df.show()

+---------+---+----------+------+-----+----+---------+
| New Name|age|Experience|Salary|Bonus|Col1|Full Name|
+---------+---+----------+------+-----+----+---------+
|    Krish| 31|        10|   100| 50.0|1000|    Krish|
|Sudhanshu| 30|         8|    80| 40.0| 800|Sudhanshu|
|    Sunny| 29|         4|    40| 20.0| 400|    Sunny|
|     Paul| 24|         3|    30| 15.0| 300|     Paul|
|   Harsha| 21|         1|    10|  5.0| 100|   Harsha|
|  Shubham| 23|         2|    20| 10.0| 200|  Shubham|
+---------+---+----------+------+-----+----+---------+

In [72]:
df2 = spark.read.csv('test2.csv', header=True, inferSchema=True)
df2.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [70]:
#df2 = df2.drop('Name')

In [73]:
df2.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [83]:
df2.na.drop(how = 'all', thresh=2, subset = ['Name', 'age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [100]:
df2.na.fill(55, subset = ['age', 'Salary']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh| 55|      null| 40000|
|     null| 34|        10| 38000|
|     null| 36|      null|    55|
+---------+---+----------+------+

In [101]:
df1 = spark.read.csv('test1.csv', header=True, inferSchema=True)
df1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

Filter Operations

In [103]:
df1.filter('Salary<=20000').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [104]:
df1.filter('Salary<=20000').select(['Name', 'age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [111]:
df1.filter((df1['Salary']<=20000) & (df1['Salary']>15000)).select(['Name', 'age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
|Shubham| 23|
+-------+---+

In [113]:
df1.filter(~(df1['Salary']>15000)).select(['Name', 'age']).show()

+------+---+
|  Name|age|
+------+---+
|Harsha| 21|
+------+---+

Video 5